@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Merienda:wght@300..900&family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  background-image: linear-gradient(to left, #f8f9fa, #e9ecef, #dee2e6);
}

header {
  background-image: linear-gradient(to right, #0d1b2a, #1b263b, #415a77);
  color: white;
  text-align: center;
  padding: 1rem 1rem;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

h2 {
  color: #778da9;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #777;
}

a {
  text-decoration: none;padding: 4px;
}


a:hover {
  background-color: #77777744;
  border-radius: 6px;
  transition: 2ms;
}